body {
  height: 100vh;
  background-color: rgb(167, 184, 167);
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

nav {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgb(194, 211, 194);
  margin-bottom: 32px;
}

nav > img {
  width: 50px;
}

h3 {
  margin-left: 24px;
  font-size: 32px;
}

.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  gap: 16px;
}

.button-container, .reset-button-container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

button {
  border: none;
  background-color: #ca9147;
  font-size: 24px;
  margin: 8px;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
}

h1 {
  padding: 32px;
  text-align: center;
}

